* {
    box-sizing: border-box;
    padding: 0;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Unbounded', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

body {
    margin: 0;
    color: #fff;
}

a {
	text-decoration: none;
	color: #3c48fa;
	outline: none;
    transition: 0.3s;
}

a:hover,
a:focus {
	color: #fff;
	outline: none;
}

.demo-2 {
	--color-text: #ff53ff;
	--color-link: #3c48fa;
	--color-link-hover: #fff;
	--color-title: #fff;
}
.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.video-section {
	margin-left: 10vw;
	display: flex;
	flex-direction: column;
}

.video {
	width: 30%;
}

.content__title {
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
	text-align: center;
	margin: -5.5vw 0 0 0;
	z-index: 100;
	font-size: 3vw;
	color: var(--color-title);
	line-height: 1;
}

.about {
	text-align: left;
	margin-left: 27%;
	margin-right: 27%;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin-top:1%;
}

.center {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-items: center;
	justify-content: center;
	position: absolute;
	top: 30%;
	/* left: 0; */
	width: 100%;
	/* width: 100vw; */
    align-items: center;
	text-align: center;
	margin: -5.5vw 0 0 0;
	z-index: 100;
	font-size: 3vw;
	color: #fff;
	line-height: 1;
}



.back {
	margin-left: 2%;
	margin-top: 2%;
	font-size: 2vw;
}

.about {
	z-index: 100;
	font-size: 1vw;
	color: var(--color-title);
	line-height: 1;
}

@media only screen and (max-width: 480px) {
	main {
		height: 100vh;
		/* display: flex;
		flex-direction: column;
		position: absolute;
		top: 10%;
		left: 0;
		z-index: 100;
		font-size: 8vh;
		color: #fff;
		line-height: 1; */
	}

	.video {
		/* width: 50%;
		height: 60%; */
		padding: 0;
	}

	.content__title {
		font-size: 3vh;
		padding: 0;
	}

	.back {
		font-size: 3vh;
	}

	.center .about{
		margin-left: 3%;
		margin-right: 3%;
		font-size: 2.5vh;
	}
}