* {
    box-sizing: border-box;
    padding: 0;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Unbounded', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

body {
    margin: 0;
    /* background-color: rgba(27,27,27,1); */
    color: #fff;
}

.demo-2 {
	--color-text: #ff53ff;
	--color-link: #3c48fa;
	--color-link-hover: #fff;
	--color-title: #fff;
}

/* .all-items {
    background: hsla(79, 74%, 32%, 1);

    background: linear-gradient(270deg, hsla(79, 74%, 32%, 1) 0%, hsla(210, 5%, 8%, 1) 81%);
    
    background: -moz-linear-gradient(270deg, hsla(79, 74%, 32%, 1) 0%, hsla(210, 5%, 8%, 1) 81%);
    
    background: -webkit-linear-gradient(270deg, hsla(79, 74%, 32%, 1) 0%, hsla(210, 5%, 8%, 1) 81%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#688D15", endColorstr="#141516", GradientType=1 );
} */
/* 
canvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
} */
 /* width */
 /* ::-webkit-scrollbar {
    width: 20px;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  } */
  
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  }  */

@media only screen and (max-width: 1026px) {
    .heading {
        display: none;
    }

    .links {
        display: none;
    }
}

.heading {

    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: white;
    /* hsla(260,40%,5%,1); */
    z-index: 100;
    width: 100%;
    color: white;
    
}

.links {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.2vw;
    padding: 1%;
    border-radius: 8px;
    color: white;
    /* font-size: 1.1vw; */
    /* text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc; */
    /* text-shadow : horizontal-shadow vertical-shadow blur color, horizontal-shadow vertical-shadow blur color; */
}

.links a {
    padding: 0.7vw;
}

/* .links a:link {
  text-decoration: none;
  transition: 0.3s;
  color: white;
  text-shadow:1px 1px 10px #caff8e, 1px 1px 10px #ccc;
  
}

.links a:visited {
  text-decoration: none;
  color: white;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.links a:hover {
  text-decoration: none;
  text-shadow:3px 3px 10px #fff, 1px 1px 10px #ccc;
}

.projects-button a:link {
    text-decoration: none;
    transition: 0.3s;
    color: white;
    text-shadow:1px 1px 10px #caff8e, 1px 1px 10px #ccc;

}

.projects-button a:visited {
    text-decoration: none;
    color: white;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.projects-button a:hover {
    text-decoration: none;
    text-shadow:3px 3px 10px #fff, 1px 1px 10px #ccc;
} */

a {
	text-decoration: none;
	color: #3c48fa;
	outline: none;
    transition: 0.3s;
}

a:hover,
a:focus {
	color: #fff;
	outline: none;
}

/* .game-link a {
	text-decoration: none;
	color: #3c48fa;
	outline: none;
    transition: 0.3s;
}

.game-link a:hover,
a:focus {
	color: #fff;
	outline: none;
} */

/* a:active {
  text-decoration: none;
} */

.top {
    /* height: 100vh;
    width: 100vw;
    background: rgb(27,27,27);
    background: linear-gradient(360deg, rgba(27,27,27,1) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%); */
    /* text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc; */
}


.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
    /* height: 100vh;
    width: 100vw;*/
}

.content__title {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	margin: -5.5vw 0 0 0;
	z-index: 100;
	font-size: 3vw;
	color: #fff;
	line-height: 1;
}

.content__title .about-view {
    position: absolute;
    text-align: center;
	font-size: 1.5vw;
    /* top: 65%; */
    left: 0;
	width: 100%;
}

.content__title .about-view a {
    top: 70%;
}


.top .name-info {
    font-size: 100px;
    padding-top: 250px;
    text-align: center;
    color: white;
    animation-name: name-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 100;
}

.top .projects-button {
    margin-top: 2%;
    font-size: 50px;
    border-color: white;
    align-self: center;
    justify-content: center;
    border-left: 36%;
    border-radius: 8px;
    /* margin-left: 36%; */
    /* margin-right: 36%; */
    /* width: 290px;
    border-style: solid;
    border-width: thick; */
    text-align: center;
}

.projects-button h3 {
    margin: 0;
    padding: 0;
}

@keyframes name-text {
    0% {text-shadow:none;}
    50% {text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;}
    100% {text-shadow:none;}
}

#projects h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-color: aqua; */
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.p {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* justify-content: center; */
    width: 50vw;
    border-radius: 8px;
    margin-top: 2%;
    margin-bottom: 1%;
}

.p-about {
    flex-direction: column;
    /* align-items:flex-start; */
    justify-content: left;
    align-items: stretch;
    /* background-color: blue; */
    border-radius: 8px;
    margin: 0;
    margin-left: 5%;
}

.p-about h2 {
    margin: 0;
    padding: 0;
}


footer {
    padding: 2vh;
}

/* .image-container img {
    float: left;
    width:  250px;
    height: 200px;
    border-radius: 9px;

    /* object-fit: cover; */



img {
    border-radius: 8px;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }




  @media screen and (min-width: 53em) {
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem 2.25rem;
		pointer-events: none;
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title title ... '
							'... ... ...'
							'github demos links';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__github {
		grid-area: github;
		justify-self: start;
		margin: 0;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: center;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
}







