* {
    box-sizing: border-box;
    padding: 0;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Unbounded', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

body {
    margin: 0;
    color: #fff;
}

a {
	text-decoration: none;
	color: #3c48fa;
	outline: none;
    transition: 0.3s;
}

a:hover,
a:focus {
	color: #fff;
	outline: none;
}

.demo-2 {
	--color-text: #ff53ff;
	--color-link: #3c48fa;
	--color-link-hover: #fff;
	--color-title: #fff;
}

.back {
    position: fixed;
    z-index: 1;
    background-color: hsla(260,40%,5%,1);
    margin-left: 2vw;
    top: 2%;
    font-size: 1.5vw;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume {
    width: 50vw;
    height: 100vh;
    /* top: 40%; */
}

@media only screen and (max-width: 480px) {
	main {
		height: 100vh;
	}

	.resume {
        width: 100vw;
        height: 100vh;
        top: 40%;
	}

	.back {
		font-size: 3vh;
        border-radius: 8px;
        padding: 1%;
        top: 95%;
	}

}