*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    
    /* font-family:Tahoma, Geneva, Verdana, sans-serif; */
    scrollbar-color: rgba(78, 83, 101, 0.803) rgb(255, 255, 255);
    scrollbar-width: thin;
}

body {
    line-height: 1.5;
    height: 100%;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p {
    text-wrap: pretty;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: normal;
}

p {
    text-wrap: pretty;
}

ul, il {
    list-style: none;
}

a {
    text-decoration-line: none;
    color: rgb(0, 0, 0);
    transition: 0.1s;
}

a:hover {
    color: rgb(185, 0, 0);
    /* text-decoration-line: underline; */
}

:root {
    --main-bg-color: rgb(255, 255, 255);
    --border-radius: 5px;
}

header {
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    padding-bottom: 5px;
    
}

header #links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

header #links ul li {
    padding: 0 3px;
}

#content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#content main {
    /* height: 100vh; */
    margin-top: 50px;
    /* width: 800px; */
    width: 100%;
    border-bottom: 1px solid black;
    /* max-width: 100%; */

    display: flex;
    justify-content: center;

    padding-bottom: 50px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.about-container {
    width: 800px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
}

#content main #about {
    width: 400px;
    text-align: center;
    color: black;
    font-size: 30px;
}

#content main #about h3,
#content main #about p {
    text-align: left;
}

#content main #about p {
    margin-top: 20px;
}


#content main .profile-pic {
    height: 480px;
}


#content main .profile-pic img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

#content #projects {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}

#projects > div.title {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#projects > div.title h2 {
    color: black;    
    color: white;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 5px 5px;
    width: 60%;
    font-size: 2.5rem;
    max-height: 15vh;
}

footer {
    margin: auto 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px;
}

#projects-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    width: 100%;
    
    margin-bottom: 50px;
    letter-spacing: 1px;
}

#projects-container .project {
    color: black;
    backdrop-filter: blur(10px);
    padding: 30px 30px;
    height: 400px;
    min-width: fit-content;
    margin-top: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#projects-container .project .info {
    width: 450px;
    height: 100%;
    align-self: start;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

#projects-container .project .info p {
    margin-top: 5px;
    flex: 1;
}

#projects-container .project .info ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#projects-container .project .info ul li {
    background-color: rgb(255, 255, 255);
    padding: 2px 5px;
}

#projects-container .project .img-container {
    padding: 30px 0px 30px 50px;
    width: 550px;
    height: 400px;
}

#projects-container .project .img-container img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

#projects-container .project .info .project-title {
    font-weight: bold;
} 

