@font-face {
    font-family: 'poppinslight';
    src: url('./fonts/poppins/poppins-light-webfont.woff2') format('woff2'),
         url('./fonts/poppins/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsmedium';
    src: url('./fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('./fonts/poppins/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('./fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('./fonts/poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('./fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
         url('./fonts/poppins/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsthin';
    src: url('./fonts/poppins/poppins-thin-webfont.woff2') format('woff2'),
         url('./fonts/poppins/poppins-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-family:sans-serif;
}

body {
    line-height: 1.5;
    /* background-color: red; */
}

input, button, textarea, select {
    font: inherit;
}

p {
    text-wrap: pretty;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 18px;
}

ul, il {
    list-style: none;
}

a, button {
    text-decoration-line: none;
    transition: 0.1s;
}

a:hover, button:hover {
    /* text-decoration-line: underline; */
    text-decoration-color: var(--highlight-color);
    color: var(--highlight-color);
}

button, a {
    color: var(--header-bg-color);
}

:root {
    --header-bg-color:#5a5353;
    --content-bg-color: #ffffff;
    --header-width: 700px;
    --content-width: 700px;
    --highlight-color: #1369ca;
}

html, body {
    background-color: var(--content-bg-color);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: "poppinsregular", sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--content-bg-color);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d8dad3; 
    font-family: "poppinsmedium", sans-serif;
}

/* h2 {
    font-size: 30px;
}

h3 {
    font-size: 27px;
    margin-bottom: 15px;
    
} */

.header-container {
    width: var(--header-width);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-wrapper {
    font-size: 27px;
    align-items: center;
}

.home-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-btn img {
    margin-bottom: 5px;
}

.links-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.links-container .social a {
    position: relative;
}

.links-container .social a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--highlight-color);
    filter: opacity(30%);
    transition: width 0.3s ease, height 0.3s ease; 
    margin-bottom: 90px;
}

.links-container .social a:hover::after {
    width: 48px; 
    height: 48px; 
}

#content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

#main-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

#main-text .text .name {
    background: linear-gradient(
        to right,
        #4043ea 20%,
        #00b0cf 30%,
        #3397fb 70%,
        #00c9e4 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

    font-size: 45px;
    font-family: "poppinssemibold";

}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#content .home-section h3 {
    font-size: 27px;
    margin-bottom: 10px;
}

#main-text .text .role {
    color: #5a5353;
    font-size: 30px;
}

#main-text .image-wrapper {
    height: 180px;
    width: 180px;
}

#main-text .image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#skills {
    width: 100%;
}

#skills h3 {
    font-size: 27px;
}

#projects .projects-btn {
    color: black;
    font-size: 27px;
    text-align: left;
    padding: 0;
    /* background-color: red; */
    margin: 0;
}

#projects .projects-btn:hover {
    color: var(--highlight-color);
}

#projects .projects-list .project-item a:hover {
    color:#00b0cf;
}

#skills .skills-container,
.projects-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}



#skills .skills-container .skill-wrapper .skill {
    display: flex;
    align-items: center;
    text-align: center;

    padding: 2px 5px;
    border-radius: 5px;
    background-color: #e6f6ff;
    color:#5a5353;
    font-size: 18px;
}

.main-title {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.project {
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(189, 189, 189);
    border-radius: 5px;

    cursor: pointer;
}

.project .description {
    color: var(--header-bg-color);
    margin-top: 4px;
}

.project .tags-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.project .tags-container li {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #e6f6ff;
    /* color: white; */
    color:#5a5353;
    font-size: 13px;
}