*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    scrollbar-color: rgba(78, 83, 101, 0.803) rgb(255, 255, 255);
    scrollbar-width: thin;
}

body {
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

input, button, textarea, select {
    font: inherit;
}

p {
    text-wrap: pretty;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, il {
    list-style: none;
}

a {
    text-decoration-line: none;
    color: black;
    transition: 0.1s;
}

a:hover {
    color: rgb(255, 255, 255);
    
    /* filter: blur(1px); */
}

:root {
    --main-bg-color: rgb(255, 255, 255);
}

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    height: fit-content;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 26px;
    display: flex;
    justify-content: center;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0px;
    width: 70vw;
}

header .container #name {
    /* font-weight: bold; */
}

header #links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

#content main {
    background-image: url("./images/blur-bg-crop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 85vh;
    width: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid rgb(255, 255, 255);
}

#content main #about {
    position: absolute;
    text-align: center;
    color: black;
    background-color: black;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    width: fit-content;
    max-height: 60vh;
    font-size: 3.5rem;
    padding: 5px 40px;
}

#content #projects {
    background-color: rgb(0, 0, 0);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: rgb(255,35,162);
    background: radial-gradient(circle, rgba(255,35,162,1) 0%, rgba(70,126,252,1) 100%);

    height: 600px;
}

#projects > div.title {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects > div.title h2 {
    color: black;    
    /* color: white; */
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(60px);
    padding: 5px 45px;
    font-size: 35px;
    max-height: 15vh;
}

footer {
    margin: auto 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px;
}
